header{
  background-color: $green;
}
.cadre_jaune_menu{
  width: 100%;
  background-color: $yellow;
}

.cadre_vert_menu{
  background-color: #75af14;
width: 100%;
}

.cadre_vert{
  height: 60px;
  width: 100%;
  background-color: #75af14;
}

.cadre_jaune{
  height: 60px;
  width: 100%;
  background-color: $yellow;
}